{% extends 'RentMovieBundle:Default:layout.html.twig'%}

{% block info %}
	<p><b>Genres:</b></p>
	<p><b>Starring:</b></p>
	<p><b>Year:</b></p>
	<p><b>Description:</b></p></br> 
	<p><b>Language:</b></p> 
	<p><b>Price:</b></p> <br/><br/>
	<p><b>Trailer:</b></p><br/>
{% endblock %}
{% block cover %}
	<img src="{{ asset('bundles/rentmovie/images/frozen.jpg') }}"><br/>
{% endblock %}
{% block title %}
	<h4 class="film">Frozen</h4>
{% endblock %}
{% block genres %}
	<p>Animation, Adventure, Comedy <br/></p>
{% endblock %}
{% block starring %}
	<p>Kristen Bell, Idina Menzel, Jonathan Groff<br/></p>
{% endblock %}
{% block year %}
	<p>2013<br/></p>
{% endblock %}
{% block description %}
	<p>When the newly crowned Queen Elsa accidentally uses her power to turn things into ice to curse her home in infinite winter, her sister, Anna, teams up with a mountain man, his playful reindeer, and a snowman to change the weather condition<br/></p>
{% endblock %}
{% block language %}
	<p>English<br/></p>
{% endblock %}
{% block price %}
	<p>$7.99</p>
{% endblock %}
{% block trailer %}
	<video width="450" controls>
		<source src="{{ asset('bundles/rentmovie/video/frozen.mp4') }}" type="video/mp4">
	</video>
{% endblock %}